/*ARQUIVO QUE SERÁ IMPORTADO GLOBALMENTE PARA REDUZIR REPETIÇÃO DE CÓDIGO*/

/* Importa fontes do google */
@import url("https://fonts.googleapis.com/css2?family=Share+Tech+Mono&display=swap");

/*Zera margens e paddings de tudo*/
* {
  margin: 0;
  padding: 0;
}

/*Define variáveis para o site*/

:root {
  --cor-primaria: #219ebc;
  --cor-secundaria: #582f0e;
  --cor-preto: #000106;
  --cor-branco: #f5f5f5;

  --fonte-primaria: "Share Tech Mono", monospace;
  --fonte-secundaria: Arial, Helvetica, sans-serif;
}

/*configura o body*/
body {
  overflow-x: hidden;
  background-color: var(--cor-branco);
}

/* Define o estilo do cabeçalho, que aparecerá em todas as páginas */
#header-container {
  height: 90px;
  width: 100%;
  position: fixed;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: var(--cor-branco);
  box-shadow: 1px 1px 12px rgba(0, 0, 0, 0.336);
  z-index: 10000000;
}
#header-container img {
  height: 50px;
}

#header-container div ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 50px;
}

#header-container div ul li {
  list-style: none;
}
#header-container div ul li a {
  color: var(--cor-preto);
  text-decoration: none;
  font-family: var(--fonte-primaria);
  font-size: 25px;
}
#header-container div ul li a:hover {
  color: var(--cor-preto);
  text-decoration: underline;
  font-family: var(--fonte-primaria);
  font-size: 28px;
}

/* Estiliza as seções para que fiquem sempre do tamanho da tela */
section,
main {
  width: 100vw;
  padding: 50px 0px;
}

/* Estiliza títulos, textos e links */
a {
  color: var(--cor-preto);
  text-decoration: none;
  font-family: var(--fonte-primaria);
}
a:hover {
  color: var(--cor-preto);
  text-decoration: underline;
  font-family: var(--fonte-primaria);
}
h2 {
  font-family: var(--fonte-primaria);
  text-align: center;
  color: var(--cor-primaria);
  font-size: 40px;
}
